* {
  box-sizing: border-box;
  font-family: 'Arial';
}

main {
  max-width: 800px;
  margin: auto;
  padding-top: 100px;
}

.list-desc {
  margin-top: 50px;
}

.input-controls {
  display: flex;
  flex-direction: row;
}
button {
  margin-left: 15px;
}
