* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#container {
  width: 80%;
  height: 100%;
  position: relative;
}
img {
  position: absolute;
  max-width: 250px;
  max-height: 250px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.poem {
  border: 1px solid black;
  padding: 10px 15px;
  position: absolute;
  background: pink;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
